.nav_left_containers {
  .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #001529;
    line-height: 80px;
    width: 240px;

    h1 {
      color: #fff;
      font-size: 20px;
      margin: 0 0 0 10px;
    }
  }

  .ant-menu-dark,
  .ant-menu-dark .ant-menu-sub {
    width: 240px;
  }

  .nav_left_menu {
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll; //overflow-x 横屏滚动 overflow-y 竖屏滚动
    white-space: nowrap;
  }

  /*滚动条设置*/
  .nav_left_menu::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background-color: #F5F5F5;
  }

  /*定义滚动条轨道
   内阴影+圆角*/
  .nav_left_menu::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    background-color: #F5F5F5;
  }

  /*定义滑块
   内阴影+圆角*/
  .nav_left_menu::-webkit-scrollbar-thumb {
    border-radius: 2px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
  }
}
