.Header {
  background-color: #fff;
  .Header-top {
    height: 48px;
    line-height: 48px;
    padding: 0 20px;
    text-align: right;
    box-shadow: 0 1px 4px #e6e6e6;

    .icon-title {
      text-align: left;

      &:hover {
        color: #1890ff;
      }
    }

    .avatar-img {
      width: 28px;
      height: 28px;
      border-radius: 50%;
    }

    .name {
      vertical-align: middle;
    }
  }

  .breadcrumb {
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    border-bottom: 2px solid #f9c700;

    .title {
      font-size: 16px;
      font-weight: 700;
      text-align: center;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        bottom: -18px;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 0;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-top: 20px solid #fff;
      }
    }

    .weather {
      text-align: right;

      .date {
        font-weight: 700;
        color: colorR;
        margin-right: 10px;
      }
    }
  }
}
