html,
body,
#root,
.ant-layout {
  width: 100%;
  height: 100%;
  font-family: Avenir, Helvetica Neue, Arial, Helvetica, sans-serif;
}

.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  line-height: 64px;
  background-color: #fff;

  .header_logo {
    display: flex;
    flex-direction: row;
    height: 64px;
    justify-content: center;
    img {
      width: 60px;
      height: 60px;
      // vertical-align: middle;
    }

    h1 {
      // display: inline-block;
      // vertical-align: middle;
      font-size: 20px;
      font-weight: 600;
      color: #1890ff;
    }
  }

  .dropdown {
    float: right;
  }
}
