.admin_container {
  .admin_main_right {
    flex: 1;
    position: fixed;
    right: 0;
    left: 240px;
    min-width: 500px;
    width: calc(100% - 240px);

    .main_header {
      position: fixed;
      top: 0;
      left: 0;
    }
  }
}
